### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [1]:
sent1 = "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."
print(sent1.count("row"))

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [2]:
na = input("What's your name? ")
co = input("Your color?  ")
an = input("Which animal do you prefer?  ")

What's your name? Tom
Your color?  white
Which animal do you prefer?  fox

In [3]:
print("{0} had a little {1}.".format(na, an))
print("It was {} as snow.".format(co))
print("And everywhere that {0} went, the {1} was sure to go.".format(na, an))

Tom had a little fox.
It was white as snow.
And everywhere that Tom went, the fox was sure to go.

3. Print 3.14159 in a scientific number notation

In [4]:
print("{:e}".format(3.14159))

3.141590e+00

4. Print 3.1559 in 3 decimal places

In [5]:
print(f"{3.1559:.3f}")

3.156

5. Print 1589.92341 in a scientific number notation to the power of 3

In [6]:
print("{:.3e}".format(1589.92341))

1.590e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [7]:
print(39 // 2)
print(39 % 2)

19
1

In [8]:
print(19 // 2)
print(19 % 2)

9
1

In [9]:
print(9 // 2)
print(9 % 2)

4
1

In [10]:
print(4 // 2)
print(4 % 2)

2
0

In [11]:
print(2 // 2)
print(2 % 2)

1
0

In [12]:
print(1 // 2)
print(1 % 2)

0
1

The binary number for 39 is 100111.

In [13]:
bin(39)

'0b100111'

In [14]:
int("100111", 2)

39

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [15]:
print(39 // 8)
print(39 % 8)

4
7

In [16]:
print(4 // 8)
print(4 % 8)

0
4

The octal number for 39 is 47.

In [17]:
oct(39)

'0o47'

In [23]:
int("47", 8)

39

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [19]:
print(39 // 16)
print(39 % 16)

2
7

In [20]:
print(2 // 16)
print(2 % 16)

0
2

The hexadecimal number for 39 is 27.

In [24]:
hex(39)

'0x27'

In [25]:
int("27", 16)

39

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [21]:
amt = float(input("What's the original price? "))
rt = (float(input("What's the tax percentage?  "))) / 100
taxTotal = amt * rt
Total = amt + taxTotal

What's the original price? 29.99
What's the tax percentage?  2

In [22]:
print("""The original price was ${:,.2f}.
The tax you owe with a rate of {:.2%} is ${:,.2f}.
Therefore, your total amount due is ${:,.2f}.""".format(amt, rt, taxTotal, Total))

The original price was $29.99.
The tax you owe with a rate of 2.00% is $0.60.
Therefore, your total amount due is $30.59.